<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Liste des produits</h1>
            <div class="text-end">
                <a href="/product/create" class="btn btn-primary ">Ajouter un Produit</a>
            </div>

            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th class="text-end">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>

                        <td class="text-end">
                            <a href="" class="btn btn-warning">Edit</a>
                            <form action="" method="post" style="display: inline;">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>